.container {
  width: 500px;
  height: 500px;
  text-align: center;
  line-height: 10px;
  background-color: skyblue;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.container > img {
  transform: translateX(30px);
}
.container > a {
  position: relative;
  left: -32%;
  top: 20px;
}
.btn {
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: green;
  color: white;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-60%);

}
.search{
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 width: 150px;
 border-radius: 2px;
 outline: none;   
 
}